
<div class="container-toolbar">
  <mat-toolbar class="styl-nav">
    <span class="color-1">
      <img src="assets/image/fdj.png" alt="image" class="size-img">
    </span>

    <div class="left">
       <button mat-button routerLink="/home">
        Accueil
        </button>
    
        <button mat-icon-button class="style-icon" aria-label="style icon-button with menu icon" style="margin: 10px 0px 10px 5px;">
          <mat-icon>how_to_reg</mat-icon>
        </button>
        <span class="size-small" >Created By YOUNES AL JEBARI</span>
    </div>

  </mat-toolbar>
</div>

<div class="container-fdj">
  <router-outlet></router-outlet>
</div>