.container-toolbar{
    margin: 15px 15px 15px 15px;
    border-radius: 6px;
    box-shadow: 0px 6px 10px var(--primary);
  }

  .container-fdj {
    margin: 40px 15px 15px 15px;
    border-radius: 4px;
  }

  .size-img{
        width: 100px;
        height: 70px;
        margin: 10px;
  }

  .styl-nav {
    background-color: var(--primary); 
    color:var(--text-onglet); 
    border-radius: 6px;
    padding: 5px;
  }

